<a href="https://colab.research.google.com/github/ayanmmm/Assignment11/blob/main/DataPreprocessing_Assignment11_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Data.csv

**Step 1: Importing the libraries**

In [22]:
import pandas as pd
import numpy as np

**Step 2: Importing dataset**

In [23]:
df=pd.read_csv('/content/Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

**Step 3: Handling the missing data**

In [24]:
df.shape

(10, 4)

In [26]:
df.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [27]:
df=df.fillna(df.median())

<ipython-input-27-42d29455c84b>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df=df.fillna(df.median())

In [28]:
df.isnull().sum()

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

In [ ]:
#Mean,median value used for impute the Categorical values, but median is better.
#Mode value used for impute the Categorical values.

**Step 4: Encoding categorical data**

In [29]:
df.Purchased.value_counts()

No     5
Yes    5
Name: Purchased, dtype: int64

In [30]:
df["Purchased"] = df["Purchased"].map({"Yes" : 1, "No" : 0})

In [31]:
df

   Country   Age   Salary  Purchased
0   France  44.0  72000.0          0
1    Spain  27.0  48000.0          1
2  Germany  30.0  54000.0          0
3    Spain  38.0  61000.0          0
4  Germany  40.0  61000.0          1
5   France  35.0  58000.0          1
6    Spain  38.0  52000.0          0
7   France  48.0  79000.0          1
8  Germany  50.0  83000.0          0
9   France  37.0  67000.0          1

**Step 5: Creating a dummy variable**

In [34]:
df1=pd.get_dummies(df,columns=['Country'],drop_first=True)#one hot encoding
df1

    Age   Salary  Purchased  Country_Germany  Country_Spain
0  44.0  72000.0          0                0              0
1  27.0  48000.0          1                0              1
2  30.0  54000.0          0                1              0
3  38.0  61000.0          0                0              1
4  40.0  61000.0          1                1              0
5  35.0  58000.0          1                0              0
6  38.0  52000.0          0                0              1
7  48.0  79000.0          1                0              0
8  50.0  83000.0          0                1              0
9  37.0  67000.0          1                0              0

**Step 6: Splitting the datasets into training sets and Test sets**

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
x=df1[["Age","Salary","Country_Germany","Country_Spain"]]
y=df1["Purchased"]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

**Step 7: Feature Scaling**

In [37]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)